<nz-page-header class="site-page-header" >
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>基础设施</nz-breadcrumb-item>
      <nz-breadcrumb-item><a>基础设施列表</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-content>
        <button (click)="openCreateEnvModal()" style="margin-bottom:20px" nz-button nzType="primary">
            <i nz-icon nzType="plus"></i>新建基础设施
          </button>
    </nz-page-header-content>
  </nz-page-header>

<!-- 查询条件 -->
<div  class="search-div">
     
  <div>
    <input type="text" nz-input placeholder="请输入基础设施名称" [(ngModel)]="cacheQueryObject.name" (keyup.enter)="clickSearch()" />
  </div>

  <div>
    <button (click)="clickSearch()" nz-button nzType="primary">搜索</button>
  </div>

</div>

    <!-- 基础设施列表 -->
  
    <nz-table
    #basicTable
    nzShowPagination
    nzShowQuickJumper
    nzShowSizeChanger
    [nzData]="listData.infrastructure_view_models"
    [nzPageSize]="listData.page_size"
    [nzPageIndex]="listData.page_index"
    [nzTotal]="listData.total_item_count"
    nzFrontPagination="false"
    (nzPageSizeChange)="pageSizeChange($event)"
    (nzPageIndexChange)="pageIndexChange($event)"
    [nzShowTotal]="totalTemplate"
    [nzPageSizeOptions]="[5, 10, 20]"
    [nzScroll]="{ x: '1024px' }"
    [nzLoading]="loading"
  >
    <thead>
      <tr>
        <th nzLeft="0px">名称</th>
        <th>状态</th>
        <th>类型</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th nzRight="0px">操作</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td  nzLeft="0px">
            <nz-list-item-meta [nzTitle]="data.name" [nzDescription]="nzDescription">
              <ng-template #nzDescription>
               {{ data.description }}
              </ng-template>
            </nz-list-item-meta>
          </td>
       <td>
        <nz-badge [nzStatus]="statusToText(data.status)"></nz-badge>
       </td>
       <td>{{ data.type }}</td>
       <td>{{getNameFunc(data.creation_user_id)}}</td>
       <td>
        {{  format(data.creation_time) }}
       </td>
        <td nzRight="0px">
         <nz-divider nzType="vertical"></nz-divider>
          <a (click)="edit(data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzPopconfirmTitle="是否要删除操作？" (nzOnConfirm)="remove(data)">删除</a>
          <nz-divider nzType="vertical"></nz-divider>
        </td>
      </tr>
    </tbody>
        <!-- 分页 -->
        <div class="page-div">
            <ng-template #totalTemplate let-total> 总数 {{ total }} 个 </ng-template>
           
          </div>
        
  </nz-table>
    


