<nz-page-header class="site-page-header"  >
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a href="/app/detail/{{ app.id }}">应用模板</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ template.name+'的配置项' }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-content >
        <!-- <div nz-col nzSpan="6" nzOffset="23">
            <button nz-button nzType="default" [nzLoading]="loading"  (click)="viewMetadata(this.template)">预览</button>
        </div> -->
        <nz-descriptions nzTitle="模板信息" >
            <nz-descriptions-item nzTitle="模板名">{{ template.name  }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="webhook">  {{ template.web_hook }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="更新时间">{{template?.update_time}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="创建时间">{{template?.creation_time}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="更新人"> {{getNameFunc(template?.update_user_id)}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="描述"> {{template.description}}</nz-descriptions-item>
          </nz-descriptions>

    </nz-page-header-content>
  </nz-page-header>

  <!-- 下方tabs -->
  <nz-card [nzBordered]="false" >
    <nz-tabset [nzSelectedIndex]="0">
  
      <!-- 服务列表 -->
      <nz-tab [nzTitle]="'服务列表'" >
        <app-service-config-list [templateId]="templateId" ></app-service-config-list>
      </nz-tab>

      <!-- <nz-tab nzTitle="测试配置" > 
        <app-deploy-configuration [templateId]="templateId" (onChange)="updateTemplate()"></app-deploy-configuration>
      </nz-tab>

      <nz-tab nzTitle="部署配置" > 
        <app-deploy-configuration [templateId]="templateId" (onChange)="updateTemplate()"></app-deploy-configuration>
      </nz-tab> -->
    </nz-tabset>
  </nz-card>