<nz-layout class="app-layout">

    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <div class="logo">
        </div>
        
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

        <li *ngFor="let menuItem of listOfMenu" nz-submenu [nzOpen]="menuItem.isOpen"  [nzTitle]="menuItem.name"  [nzIcon]="menuItem.icon">
          <ul *ngIf="menuItem.children!= null && menuItem.children.length>0">

            <!-- class="custom-menu-item" -->
            <li *ngFor="let childItem of menuItem.children" nz-menu-item nzMatchRouter  >
              <a [routerLink]="childItem.router" (click)="onRouter(childItem)" >{{ childItem.name }}</a>
            </li>
          </ul>
        </li>


        <!-- <li nz-submenu nzOpen nzTitle="持续交付" nzIcon="rocket">
          <ul>
            <li nz-menu-item nzMatchRouter>
           
              <a routerLink="/app-create">  工作台</a>
            </li>
            <li nz-menu-item nzMatchRouter>
  
              <a routerLink="/app-list">应用列表</a>
            </li>
          </ul>
        </li> -->
        <!-- <li nz-submenu nzOpen nzTitle="工具箱" nzIcon="tool">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/build-list">构建器</a>
              </li>
              <li nz-menu-item nzMatchRouter>
          
                <a routerLink="/package-config-list">包配置</a>
              </li>
            </ul>
        </li> -->
        <!-- <li nz-submenu nzOpen nzTitle="产品管理" nzIcon="appstore">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/app-product-list" >产品列表</a>
            </li>
          </ul>
        </li> -->
      </ul>
      <nz-footer class="version">
        <div nz-row class="version-item">
          <div nz-col nzSpan="5" >
            <span nz-icon nzType="profile" nzTheme="outline"></span>
          </div>
          <div nz-col nzSpan="9">Version</div>
          <div nz-col nzSpan="8">v1.0.0</div>
        </div>
        <div nz-row class="version-item">
          <div nz-col nzSpan="5" >
            <span nz-icon nzType="global" nzTheme="outline"></span>
          </div>
          <div nz-col nzSpan="18" >
             <a class="version-api" href="http://mars.preview.swagger.com/docs#" target="_blank">Mars API V1.0</a>
          </div>
        </div>
      </nz-footer>
    </nz-sider>
    <nz-layout [ngClass]="{'custom-layout-content-open':isCollapsed==false,'custom-layout-content-close':isCollapsed==true }">
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
          </span>
          <span class="header-login" (click)="onlogOut()">退出</span>
          <span class="header-info">{{ userName }}</span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>mars ©2023 from ruijie devops team make </nz-footer>
    </nz-layout>
  </nz-layout>