
<button (click)="refreshData()" style="margin-bottom:20px" nz-button nzType="primary">刷新
  </button>


<!-- 查询条件 -->
<div  class="search-div">
     
  <div>
    <input type="text" nz-input placeholder="请输入构建器名称" [(ngModel)]="cacheQueryObject.name" (keyup.enter)="clickSearch()" />
  </div>

  <div>
    <button (click)="clickSearch()" nz-button nzType="primary">搜索</button>
  </div>

</div>

<!-- 构建记录列表 -->

<nz-table
#basicTable
nzShowPagination
nzShowQuickJumper
nzShowSizeChanger
[nzData]="listData.buildHistoryViewModels"
nzFrontPagination="false"
(nzPageSizeChange)="pageSizeChange($event)"
(nzPageIndexChange)="pageIndexChange($event)"
[nzPageSize]="listData.pageSize"
[nzPageIndex]="listData.pageIndex"
[nzTotal]="listData.totalItemCount"
[nzShowTotal]="totalTemplate"
[nzPageSizeOptions]="[10, 20, 30]"
[nzScroll]="{ x: '1024px' }"
[nzLoading]="loading"
>

<thead>
  <tr>
    <th>构建器名称</th>
    <th>构建平台</th>
    <th>流水线名称</th>
    <th>部署包类型</th>
    <th>分支名称</th>
    <th>阶段</th>
    <th>构建状态</th>
    <th>构建人</th>
    <th>构建时间</th>
    <th nzRight="0px">操作</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of basicTable.data">
   <td>{{ data.triggerName }}</td>
   <td>{{ data.platformUrl }}</td>
   <td>{{ data.jobName }}</td>
   <td>{{ data.packageTypeName }}</td>
   <td>{{data.branch}}</td>
   <td>
    <div class="stage-td">
      <div>
        <div *ngIf="data.status === 0 || data.status === 1 || data.status === 2">
          <i nz-icon nzType="right-circle" nzTheme="twotone" [nzTwotoneColor]="'#999'" [title]="data.statusDescription"></i>
        </div>
        <div  *ngIf="data.status === 3 || data.status ===4" (click)="showBuildLog(data)" class="cursor-pointer">
          <i
            *ngIf="data.status === 3"
            nz-icon
            nzType="sync"
            nzTheme="outline"
            [nzSpin]="true"
            [title]="data.statusDescription"></i>

            <i
            *ngIf="data.status === 4"
            nz-icon
            nzType="check-circle"
            nzTheme="twotone"
            [nzTwotoneColor]="'#52c41a'"
            [title]="data.statusDescription"></i>
        </div>
      </div>
    </div>
   </td>
  <td>
    <nz-tag [nzColor]="hadnlerStatusColor(data.status)">{{ data.statusDescription }}</nz-tag>
  </td>
   <td>{{getNameFunc(data.creatorUserId) }}</td>
   <td>{{data.creationTime}}</td>
    <td nzRight="0px">
      <nz-divider nzType="vertical"></nz-divider>
      <a nz-popconfirm nzPopconfirmTitle="是否要删除操作？" (nzOnConfirm)="remove(data)">删除</a>
      <nz-divider nzType="vertical"></nz-divider>
    </td>
  </tr>
</tbody>
    <!-- 分页 -->
    <div class="page-div">
        <ng-template #totalTemplate let-total> 总数 {{ total }} 个 </ng-template>
       
      </div>
    
</nz-table>


