<form nz-form [formGroup]="validateForm"  >
    <nz-form-item>
      <nz-form-label  [nzSm]="9"  [nzXs]="24" nzFor="productId" nzRequired>产品列表</nz-form-label>
      <nz-form-control [nzSm]="8" [nzXs]="24"  >
            <nz-select formControlName="productId" [nzLoading]="loading" (ngModelChange)="onSelect($event)" nzPlaceHolder="请选择打包的产品">
                    <nz-option [nzLabel]="t.showName" [nzValue]="t.id" *ngFor="let t of productOptions">
                    </nz-option>
            </nz-select>
      </nz-form-control>
    </nz-form-item>
    </form>

    <div nz-row>
        <div nz-col nzSpan="12" nzOffset="6">

            <nz-table #basicTable [nzLoading]="listLoading" [nzData]="stepContext.productList">
                <thead>
                  <tr>
                    <th>logo</th>
                    <th>产品简称</th>
                    <th>产品名称</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>
                        <nz-avatar [ngStyle]="{ 'background-color': colorList[1] }" nzSize="default"
                        nzText="{{ data.code[0] }}"></nz-avatar>
                    </td>
                    <td>{{ data.code }}</td>
                    <td>{{ data.name }}</td>
                    <td>
                      <a (click)="remove(data)" >移除</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
        </div>
      </div>
   
      <div nzOffset="7" nzSpan="12" >
        <div class="steps-action">
            <button nz-button nzType="default" (click)="pre()" >
                <span>上一步</span>
            </button>
            <button nz-button nzType="default" (click)="next()"  [disabled]="stepContext.productList.length<=0">
                <span>下一步</span>
              </button>
        </div>
    </div>



  
      