<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label nzSpan="3"  nzFor="name" nzRequired>名称</nz-form-label>
        <nz-form-control nzSpan="19"  >
          <input nz-input formControlName="name"   name="name"   maxlength="15"  minlength="1" placeholder="" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="3"  nzFor="type">版本类型</nz-form-label>
      <nz-form-control nzSpan="19"  >
        <nz-select formControlName="type"  (ngModelChange)="onSelectType($event)"  nzPlaceHolder="请选择发布类型">
            <nz-option nzLabel="当前" nzValue="0" >
            </nz-option>
            <nz-option nzLabel="历史版本" nzValue="1" >
            </nz-option>
      </nz-select>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-sm" *ngIf="versionType==0">
    <nz-form-label  nzSpan="3" nzFor="version" nzRequired> 版本号 </nz-form-label>
    <nz-form-control  nzSpan="19" >
      <nz-input-group   >
        <input nz-input formControlName="version"   name="version"   maxlength="15"  minlength="1" placeholder="" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

    <nz-form-item *ngIf="versionType==1">
        <nz-form-label nzSpan="3"  nzFor="history_version_id" nzRequired>历史版本</nz-form-label>
        <nz-form-control nzSpan="19"  >
                <nz-select formControlName="history_version_id"   nzPlaceHolder="请选择历史版本">
                  <nz-option nzCustomContent  [nzLabel]="t.version+' ('+format(t.creation_time)+')'"  [nzValue]="t.id" *ngFor="let t of history">
                   <span>{{t.version}}  ({{ format(t.creation_time) }})</span>
                  </nz-option>
                </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mb-sm">
      <nz-form-label  nzSpan="3" nzFor="environment_id" [nzRequired]="!isEnvsDisabled"> 发布环境 </nz-form-label>
      <nz-form-control  nzSpan="19" >
        <nz-input-group   >
          <nz-select formControlName="environment_id" [nzDisabled]="isEnvsDisabled"   nzPlaceHolder="请选择发布环境"> 
            <nz-option [nzLabel]="t.name" [nzValue]="t.id" *ngFor="let t of envs">
            </nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mb-sm">
        <nz-form-label  nzSpan="3" nzFor="description" > 备注 </nz-form-label>
        <nz-form-control  nzSpan="19" >
          <nz-input-group>
            <textarea nz-input name="description"
            formControlName="description" [nzAutosize]="{ minRows: 4, maxRows: 10 }"
            placeholder="备注"></textarea>
          </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <div *nzModalFooter>
            <button nz-button nzType="default" [nzLoading]="loading" (click)="onCancel()" >关闭</button>
            <button nz-button nzType="primary"  [nzLoading]="loading" (click)="submitForm()" [disabled]="!validateForm.valid">创建</button>
          </div>

        </nz-form-control>
      </nz-form-item>
  </form>


