.add-button {
    width: 100%;
  }
  .delete-div{
         position: absolute;
        top: 16px;
  }
  .dynamic-delete-button {
    cursor: pointer;
    font-size: 24px;
    color: #999;
    width: 40px;
    transition: all 0.3s;
  }
  .associated-items {
    margin-bottom: 0;
  }
  
  .dynamic-delete-button:hover {
    color: #777;
  }