<!-- <div class="app-nav">
    <div class="text-center">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="addOnAfterBtn" style="width: 620px;">
            <div style="width: 100px;">
                <button nz-button nzType="primary" (click)="search()" nzSize="large" nzSearch>新增</button>
            </div>

            <div  style="width: 520px;">
                <input type="text" [(ngModel)]="query.name" nz-input placeholder="查询应用（应用名）"
                (keyup.enter)="search()" />
            </div>
            <ng-template #addOnAfterBtn>
                <button nz-button nzType="primary" (click)="search()" nzSize="large" nzSearch>搜索</button>
             
            </ng-template>
        </nz-input-group>
    </div>
</div> -->

<nz-page-header class="site-page-header" >
    <nz-page-header-content>
        <button (click)="openCreateAppModal()" style="margin-bottom:20px" nz-button nzType="primary">
            <i nz-icon nzType="plus"></i>新建应用
          </button>
    </nz-page-header-content>
  </nz-page-header>

<!-- 查询条件 -->
<div  class="search-div">
     
  <div>
    <input type="text" nz-input placeholder="请输入应用名称" [(ngModel)]="query.name" (keyup.enter)="search()" />
  </div>

  <div>
    <button (click)="search()" nz-button nzType="primary">搜索</button>
  </div>

</div>

<nz-list 
    [nzLoading]="loading" 
    [nzRenderItem]="item" 
    [nzDataSource]="apps"
    class="list-card-animation"
    [nzGrid]="{ gutter: 24, xs: 24, md: 12, lg: 12, xl: 8, xxl: 6 }"
    >
    <ng-template #item let-item>
        <nz-list-item class="list-card-animation-item">
            <nz-card class="app-list" (click)="goApp(item.id)">
                <nz-card-meta [nzTitle]="nzTitle">
                    <ng-template #nzTitle>
                        <div class="app-list-title">
                            <div class="app-list-title-name ellipsis">
                                <a  nz-tooltip >{{ item.name }}</a>
                            </div>
                        </div>
                    </ng-template>
                    <!-- <ng-template #logo>
                        <nz-avatar [ngStyle]="{ 'background-color': colorList[1] }" nzSize="default"
                            nzText="{{item.name[0]}}"></nz-avatar>
                    </ng-template> -->
                </nz-card-meta>
                <div class="ellipsis item-content">
                    <p> 作者: {{ getNameFunc(item.creation_user_id)}}  </p>
                    <p> 创建时间: {{ format(item.creation_time)}}  </p>
                    <p nz-tooltip > 应用描述:  {{item.description}} </p>
                </div>
            </nz-card>
        </nz-list-item>
    </ng-template>
</nz-list>