<div class="app-nav">
    <div class="text-center">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="addOnAfterBtn" style="width: 520px;">
            <input type="text" [(ngModel)]="query.appName" nz-input placeholder="请输入应用名（支持模糊查询）"
                (keyup.enter)="search()" />
            <ng-template #addOnAfterBtn>
                <button nz-button nzType="primary" (click)="search()" nzSize="large" nzSearch>搜索</button>
            </ng-template>
        </nz-input-group>
    </div>
    <div style="display: flex;align-items: center; padding:0 10px; padding-top:10px;">
        <div style="width: 70px;flex-shrink:0;">所属团队: </div>
         <nz-tag  *ngFor="let item of teamList; let idx = index" nzMode="checkable" [nzChecked]="item.status"
        (nzCheckedChange)="changeTeam($event, item)">   {{ item.name }}
    </nz-tag>
    </div>
</div>
<nz-divider></nz-divider>
<nz-list 
    [nzLoading]="loading" 
    [nzRenderItem]="item" 
    [nzDataSource]="apps"
    class="list-card-animation"
    [nzGrid]="{ gutter: 24, xs: 24, md: 12, lg: 12, xl: 8, xxl: 6 }"
    >
    <ng-template #item let-item>
        <nz-list-item class="list-card-animation-item">
            <nz-card class="app-list" (click)="goApp(item.id)">
                <nz-card-meta [nzTitle]="nzTitle">
                    <ng-template #nzTitle>
                        <div class="app-list-title">
                            <div class="app-list-title-name ellipsis">
                                <a  nz-tooltip >{{ item.name }}</a>
                            </div>
                            <div class="app-list-title-tag">
                                <nz-tag nz-tooltip  class="ellipsis" [nzColor]="'#1890ff'">
                                    {{ getTeams(item.teamId) }}
                                </nz-tag>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #logo>
                        <nz-avatar [ngStyle]="{ 'background-color': colorList[1] }" nzSize="default"
                            nzText="{{item.name[0]}}"></nz-avatar>
                    </ng-template>
                </nz-card-meta>
                <div class="ellipsis item-content">
                    <p > 创建人: {{ item.author}}  </p>
                    <p> 创建时间: {{ item.creationTime}}  </p>
                    <p nz-tooltip > 应用描述:  {{item.description}} </p>
                   
                </div>

            </nz-card>
        </nz-list-item>
    </ng-template>
</nz-list>
